@page
@model absensionline.Pages.LoginModel
@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form class="form-signin" method="POST">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input asp-for="UserEmail" type="email" class="form-control" id="UserEmail" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input asp-for="Password" type="password" class="form-control" id="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
